<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="relaxeddd.englishnotify">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <permission android:name="com.example.gcm.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="relaxeddd.englishnotify.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
            android:name="relaxeddd.englishnotify.App"
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:icon="@mipmap/app_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/app_icon_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="relaxeddd.englishnotify.ui.main.MainActivity"
                  android:windowSoftInputMode="adjustPan"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name="relaxeddd.englishnotify.push.MyFirebaseMessagingService"
                 android:enabled="true"
                 android:exported="true"
                 android:stopWithTask="false"
                 android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id"/>
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_stat_onesignal_default" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_color"
                   android:resource="@color/notificationTextColor" />
        <meta-data android:name="com.onesignal.NotificationAccentColor.DEFAULT" android:value="@color/notificationTextColor" />

        <receiver android:name=".push.PushBroadcastReceiver"
                  android:exported="false">
            <intent-filter>
                <action android:name="relaxeddd.englishnotify.KNOW"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
